@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Lato', system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #242424;
}
